# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_r_base3.4.1
    - CONFIG=osx_r_base3.5.1

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "XjBb6PFX8aZSno+XqP6ig9L7F+wASoUUTXE0tSDYJFYBt3CjJJ6c1REho64VXAQbgf5EDIhc8iXzAWfXhDwMRhQvF0nnbrH6oD2O9rHdoIDt1UNEfrdtAzV6k47sF5SEab5HyPzf99yG3VbUjp8x04exm5pNQBiHKnFGBNDo2kQ3Ni/qUCB8qHg1yOexhPQANe77uow1HNBjRuOB7xY+h6rP6xS0Pb6Clf8Rb6PZpHbOomgauF+P9sp5GSjx5wDZWWs3aiK9isTgkeCxLY7snA7QaIxlq6dCR8Mg3wheGT6Hf4yzgGTyimWlGN90HTYfgBVVdLuzcGfrH0quzCE4reyJ1snRSfhsnKdD3S5B6p82kJFhmKhCBfCWJL+G5REghk6q1JH9NffRybqOhxlLJoicPgBO1Tr04wKxEl8wyTrvRSmgR3NLN8mBhIWvzpzKiE/7gTiiPz4IweKXtOqI6QQnSP1yxIK8WGoFmBSys7RV0rmgOkf++R/RB2sJRwpDL5twg2CQ0DW+0Ec1ARMr+kPOQCm7QbhQOBCDXuH3GWyVRSGLrlfru0jk/rtOgr//kYBwaNnPI/GpKeIA80NZUJyr0uq+LCAWq+cZgAwppO+dNJkzvb1atajMJuqzK7faRiNhVKp+QpyZNSDawDBQ88LRSaMCGmFyDixcUohsD10="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
